PORT=3000
HOST=0.0.0.0
JWT_SECRET=bissu_capacity_secret_key_2026_super_secure
API_KEY_EXPORT=bissu_power_query_key_98765
# Opcional: Si se configura DATABASE_URL usará PostgreSQL, de lo contrario usará SQLite embebido automáticamente.
# DATABASE_URL=postgresql://usuario:password@localhost:5432/bissu_capacity
